# Object files
*.o
obj/
*.obj
*.ko
*.elf

# Executables
*.exe
*.out
osms_general
osms_files
!osms/
document_leido.txt

# Libraries
*.a
*.la
*.lo
*.lib
*.so
*.so.*
*.dylib

# Debug files
*.dSYM/
*.su

# Temporary files
*.tmp
temp_transfer_*
log_copia.txt

# macOS specific files
.DS_Store
.AppleDouble
.LSOverride
._*

# Editor-specific files
*~
.vscode/
.idea/
*.swp
*.swo

# Build output directories
bin/
build/

# Other binary files
*.bin
# Memory files
mems/

*/.DS_Store
